name: Manual-Release

on: workflow_dispatch

jobs:
  build-release:
    runs-on: ${{ matrix.platform }}
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    strategy:
      matrix:
        platform: [windows-latest, macos-latest, ubuntu-24.04]
#        platform: [windows-latest, macos-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3

      - name: Enable corepack
        run: corepack enable

      - name: Use Yarn 4.8.1
        run: corepack prepare yarn@4.8.1 --activate

      - uses: actions/setup-node@v3
        with:
          node-version: '20.4.x'
          cache: 'yarn'

      # Make sure mac x64 gets the aarch64 toolchain too
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-apple-darwin,aarch64-apple-darwin
        if: matrix.platform == 'macos-latest'
      # Otherwise just make sure rust is set up
      - uses: dtolnay/rust-toolchain@stable
        if: matrix.platform != 'macos-latest'

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-24.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
      - name: Install dependencies
        run: |
          yarn install --immutable
          yarn unplug tsx

      - name: Build Rivet
        run: yarn build
        env:
          NODE_OPTIONS: --max-old-space-size=8000
      - name: Build Tauri App
        uses: tauri-apps/tauri-action@v0
        with:
          projectPath: packages/app
          tauriScript: yarn tauri
          tagName: app-v__VERSION__
          releaseName: 'Aidon Rivet IDE v__VERSION__'
          releaseBody: 'See the assets to download this version and install.'
          releaseDraft: true
          prerelease: false
          updaterJsonKeepUniversal: true
          updaterJsonPreferNsis: true
          args: ${{ matrix.platform == 'macos-latest' && ' --target universal-apple-darwin --verbose' || '--verbose' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
          # APPLE_SIGNING_IDENTITY: ${{ secrets.APPLE_SIGNING_IDENTITY }}
          # APPLE_ID: ${{ secrets.APPLE_ID }}
          # APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
          # APPLE_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE }}
          # APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
          # APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          NODE_OPTIONS: --max-old-space-size=6000
